*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;
}

h1{
	color: #6e024c;
}

.aboutme{
	background-color: #b13a1a;
}
.h1aboutme{
	color: whitesmoke;
}

.capimg{
	border-radius: 50% 20% / 10% 40%;;
}
.aboutmeimg{
	border-radius: 10% 30% 50% 70%;;
}
.myphotoimg{
	border-radius: 10% / 50%;
}

.bgyellow{
	background-color: #ffc922;
}

.bgtrans{
	background-color: #b13a1a;
}

.nav{
	color: #6e024c
}

.text-purple{
	color: #6e024c
}
